<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>策划</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <style type="text/css">
        #think_page_trace_open{display:none;}
    </style>
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <!-- 你的html代码 -->
        <header class="bar bar-nav">
            <h1 class="title">活动策划</h1>
        </header>
        <div class="content">

            <div class="card demo-card-header-pic">
                <div valign="bottom" class="card-header color-white no-border no-padding">
                    {eq name="$company" value="1"}
                    <img class='card-cover' src="__STATIC__/kjvue/img/sichuan.jpg" alt="">
                    {/eq}
                    {eq name="$company" value="2"}
                    <img class='card-cover' src="__STATIC__/kjvue/img/ch1.jpg" alt="">
                    {/eq}
                </div>
                <div class="card-content">

                </div>

            </div>


        </div>
    </div>
</div>
</body>
</html>