<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>title</title>
    <link rel="stylesheet" href="__STATIC__/kj/css/jqkj.css">
    <link href="__STATIC__/kj/layer/theme/default/layer.css" rel="stylesheet">
    <script src="__STATIC__/x-admin/js/jquery.min.js"></script>
    <script src="__STATIC__/kj/layer/layer.js" charset="utf-8"></script>
    <script src="__STATIC__/kj/js/jqkj.js"></script>
    <style>
        
    </style>
</head>
<body>
<div class="master">
    <div class="box">
        <div class="top-box">
            <p>你怎在抢购某某某活动你怎在抢购某某某活动你怎</p>
        </div>
        <div class="footer-box">
            <div class="name">
                您正在加入某某的团购
                您正在加入某某的团购
            </div>
            <div class="input">
                <input type="text" placeholder="请输入您的名字">
            </div>
            <div class="input">
                <input type="text" placeholder="请输入您的手机号">
            </div>
            <div class="select">
                <select class="sign_form_item">
                    <option value="">请选择您附近的门店</option>
                    <option value="0">泰山南路</option>
                </select>
            </div>
            <div class="radio">
                <input type="radio" name="state" value="1" id="0" checked><label for="0">我是新生</label>
                <input type="radio" name="state" value="2" id="1"> <label for="1">我是老生</label>
            </div>
            <button type="button" id="btn">确认报名</button>
        </div>
        <div class="close"><img src="__STATIC__/kjvue/images/demo2/close_03.png"></div>
    </div>
</div>
<script>
    $("#btn").click(function () {
       alert('你点的确认报名');
    });
</script>
</body>
</html>