
<link rel="stylesheet" href="__STATIC__/x-admin/css/font.css">
<link rel="stylesheet" href="__STATIC__/x-admin/css/xadmin.css">
<script type="text/javascript" src="__STATIC__/x-admin/js/jquery.min.js"></script>
<script src="__STATIC__/x-admin/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="__STATIC__/x-admin/js/xadmin.js"></script>
<script type="text/javascript" src="__STATIC__/my/js/my.js"></script>
<style type="text/css">
	 #think_page_trace_open{display:none;}
</style>