<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    {include file="common/head"/}
</head>
<body>
<div class="x-body">
    <form class="layui-form" method="" action="">
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>用户名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="username" name="nickname" value="{$user.nickname}" required="" readonly="true"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>用户名不可修改
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_pass" class="layui-form-label">
                <span class="x-red">*</span>密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="L_pass" name="pwd" required=""
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>密码长度为6-16位，可包含字母,数字,_
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>确认密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="L_repass" name="repwd" required=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <input type="hidden" name="code" value="{$user.code}">
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button type="button" id="btn" class="layui-btn" lay-filter="add" lay-submit="">
                修改
            </button>
        </div>
    </form>
</div>
<script type="text/javascript">
    $('#btn').click(function () {
        $.post('edit_pwd',$('form').serialize(),function (data) {
            if(data.state == 0){
                layer.msg(data.message,{icon: 2, time: 1000});
            }else{
                layer.msg(data.message,{icon: 1, time: 1000});
                setTimeout("x_admin_close()", 1000);
            }
        })
    });
</script>
</body>
</html>