{extend name="common/base"/}
{block name="title"}活动列表{/block}
{block name="script"}
<style>
    #tags li {
        background-color: #f9f9f9;
        width: 120px;
        height: 40px;
        line-height: 40px;
    }
    #tags li a {
        margin-left: 10px;
    }
</style>
<script>
    $(function () {
        $('.selected').addClass('subCatalogList');
        $('.selected').removeClass('selected');
        $('.two li').eq(1).addClass('selected');
        $('.now').hide();
        $('.two').show();
    })
</script>
{/block}
{block name='center'}
<div class="content">
    <div class="cLineB"><h4 class="left">红包活动表</h4>
        <div class="clr"></div>
    </div>
    <table class="ListProduct" border="0" cellspacing="0" cellpadding="0" width="100%">
        <thead>
        <tr>
            <th>编号</th>
            <th>活动标题</th>
            <th>活动介绍</th>
            <th>成交数</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name='activity' id='a'}
        <tr>
            <td>{$a.id}</td>
            <td>
                {php}
                echo mb_strlen($a['name'])<11?$a['name']:mb_substr($a['name'],0,10).'...';
                {/php}
            </td>
            <td>
                {php}
                echo mb_strlen($a['intro'])<16?$a['intro']:mb_substr($a['intro'],0,15).'...';
                {/php}
            </td>
            <td>{$a.payNum}
            </td>
            <td>{php}echo  str_replace("T"," ",$a['begin_time']);{/php}</td>
            <td>{php}echo  str_replace("T"," ",$a['finish_time']);{/php}</td>
            <td>
                {php}
                $time = strtotime($a['finish_time'])-time();
                echo $time>=0?'进行中':'已结束';
                {/php}
            </td>
            <td>
                <a href="/packet/index?id={$a.id}&appid={$a.appid}" class="btnGreen" title="查看">查看</a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page">
        {$page|raw}
    </div>
</div>
{/block}