{extend name="common/base"/}
{block name="title"}凭证查询{/block}
{block name="script"}
<style>
    #tags li {
        background-color: #f9f9f9;
        width: 120px;
        height: 40px;
        line-height: 40px;
    }

    #tags li a {
        margin-left: 10px;
    }
</style>
<script>
    $(function () {
        $('.selected').addClass('subCatalogList');
        $('.selected').removeClass('selected');
        $('.two li').eq(1).addClass('selected');
        $('.now').hide();
        $('.two').show();
    })

</script>
{/block}
{block name='center'}
<div class="content">
    <div class="cLineB"><h4 class="left">{$activity.name}</h4>
        <div class="clr"></div>
    </div>
    <div class="msgWrap form">
        <ul id="tags" style="width:100%">
            <li><a href="/packet/index?id={$id}&appid={$appid}">用户列表</a></li>
            <li><a href="/packet/apply?id={$id}&appid={$appid}">参与用户</a></li>
            <li><a href="/packet/staff?id={$id}&appid={$appid}">员工列表</a></li>
            <li><a href="/packet/pay?id={$id}&appid={$appid}">支付列表</a></li>
            <li><a href="/packet/hb?id={$id}&appid={$appid}">红包列表</a></li>
            <li class="selectTag" style="background-color: #eee;"><a href="/packet/proof?id={$id}&appid={$appid}">凭证查询</a></li>
            <li><a href="/packet/site?id={$id}&appid={$appid}">活动地址</a></li>
            <li><a href="/packet/examples?id={$id}&appid={$appid}">折线图</a></li>
            <div class="clr" style="height:1px;background:#eee;margin-bottom:20px;"></div>
        </ul>
    </div>
    <div class="msgWrap">
        <form method="post" action="/packet/proof">
            <table class="userinfoArea" border="0" cellspacing="0" cellpadding="0" width="100%">
                <tbody>
                <tr>
                    <th><span class="red">*</span><label for="QQ">手机号</label></th>
                    <td>
                        <input type="text" class="px" value="" required name="phone" style="width: 200px;">
                    </td>
                </tr>
                <tr>
                    <th><span class="red">&nbsp;&nbsp;</span><label for="QQ">凭&nbsp;&nbsp;&nbsp;证</label></th>
                    <td>
                        <input type="text" class="px" value="" name="yzm" style="width: 200px;">&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
                <input type="hidden" name="id" value="{$id}">
                <input type="hidden" name="appid" value="{$appid}">
                <tr>
                    <th></th>
                    <td>
                        <button type="submit" class="btnGreen">查询</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    {php}if($member){{/php}
    <table class="ListProduct" border="0" cellspacing="0" cellpadding="0" width="100%">
        <thead>
        <tr>
            <th>微信号</th>
            <th>报名姓名</th>
            <th>电话</th>
            <th>门店</th>
             <th>累计红包</th>
            <th>是否支付</th>
            <th>支付金额</th>
            <th>支付时间</th>
        </tr>
        </thead>
        <tbody>
        {volist name='$member' id='m'}
        <tr>
            <td>{$m.nickname}</td>
            <td>{$m.name}</td>
            <td>{$m.phone}</td>
            <td>{$m.shop_site}</td>
            <td>￥{$m.new_integral} <a href="javascript:showMember('{$m.id}');" style="color: #00b219">红包信息</a></td>
            <td>
                {eq name='$m.pay' value='0'}否{/eq}
                {eq name='$m.pay' value='1'}是{/eq}
            </td>
            <td>{$m.money}</td>
            <td>{$m.time}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    {php}}{/php}
</div>
<script>
function yes(id,openid) {
    layer.prompt({title: '请输入使用积分', formType: 0}, function(pass, index){
        layer.close(index);
        $.post('/packet/yes',{id:id,openid:openid,money:pass},function (data) {
            layer.msg('修改成功', {icon: 1, time: 1500});
            setTimeout("window.location.reload()", 1500);
        })
    });
}
//积分消息
    function showMember(id) {
        console.log(id);
        art.dialog.open('/packet/integ?id=' + id,{
            lock: true,
            title: '红包消息',
            width: 800,
            height: 470,
            yesText: '关闭',
            background: '#000',
            opacity: 0.45,
            close: function (a) {
                //$('#'+domid).val(art.dialog.data('aa'));
            }
        });
    }
</script>
{/block}