{extend name="common/base"/}
{block name="title"}用户列表{/block}
{block name="script"}
<style>
    #tags li {
        background-color: #f9f9f9;
        width: 120px;
        height: 40px;
        line-height: 40px;
    }

    #tags li a {
        margin-left: 10px;
    }
</style>
<script>
    $(function () {
        $('.selected').addClass('subCatalogList');
        $('.selected').removeClass('selected');
        $('.two li').eq(0).addClass('selected');
        $('.now').hide();
        $('.two').show();
    })
    function setMember(id,openid,hid) {
        layer.confirm('确认要设为员工吗？',function(index){
            $.post('setMember',{id:id,openid:openid,hid:hid},function (data) {
                console.log(data);
                if(data.state == 1){
                    layer.msg(data.message,{icon: 1,time:1000});
                    setTimeout("window.location.reload()", 1000);
                } else if(data.state == 0){
                    layer.msg(data.message,{icon: 2,time:1000});
                }
            });
        });
    }
    //查看团成员
    function showMember(id,hid) {
        console.log(hid);
        art.dialog.open('/kjlog/member?id='+id+'&hid='+hid,{
            lock:true,
            title:'团成员',
            width:800,
            height:470,
            yesText:'关闭',
            background: '#000',
            opacity: 0.45,
            close:function(a){
                //$('#'+domid).val(art.dialog.data('aa'));
            }
        });
    }
</script>
{/block}
{block name='center'}
<div class="content">
    <div class="cLineB"><h4 class="left">{$activity.name}</h4>
        <div class="clr"></div>
    </div>
    <div class="msgWrap form">
        <ul id="tags" style="width:100%">
            <li class="selectTag" style="background-color: #eee;"><a href="/kjlog/index?id={$id}&appid={$appid}">用户列表</a></li>
            <li><a href="/kjlog/apply?id={$id}&appid={$appid}">报名列表</a></li>
            <li><a href="/kjlog/staff?id={$id}&appid={$appid}">员工列表</a></li>
            <li><a href="/kjlog/pay?id={$id}&appid={$appid}">支付列表</a></li>
            <li><a href="/kjlog/proof?id={$id}&appid={$appid}">凭证查询</a></li>
          <li><a href="/kjlog/site?id={$id}&appid={$appid}">活动地址</a></li>
          <li><a href="/kjlog/examples?id={$id}&appid={$appid}">折线图</a></li>
            <div class="clr" style="height:1px;background:#eee;margin-bottom:20px;"></div>
        </ul>
    </div>
    <table class="ListProduct" border="0" cellspacing="0" cellpadding="0" width="100%">
        <thead>
        <tr>
            <th>微信名</th>
            <th>团人数</th>
            <th>团支付数</th>
            <th>砍价人数</th>
            <th>新生老生</th>
            <th>是否支付</th>
            <th>信息</th>
            <th>注册时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name='member' id='m'}
        <tr>
            <td>{$m.nickname}</td>
            <td>{$m.t_num} <a href="javascript:showMember('{$m.id}','{$m.hid}');"> 查看团成员</a></td>
            <td>{$m.t_pay}</td>
            <td>{$m.kj_num}</td>
            <td>
                {eq name='$m.state' value='0'}普通砍价用户{/eq}
                {eq name='$m.state' value='1'}新生{/eq}
                {eq name='$m.state' value='2'}老生{/eq}
                {eq name='$m.state' value='3'}员工{/eq}
            </td>
            <td>
                {eq name='$m.pay' value='0'}未支付{/eq}
                {eq name='$m.pay' value='1'}已支付{/eq}
            </td>
            <td>
                {$m.name}-{$m.phone}
            </td>
            <td>{php}echo date('Y-m-d H:i:s', $m['savedate']);{/php}</td>
            <td>
                <a href="javascript:setMember('{$m.id}','{$m.openid}','{$m.hid}')" class="btnGreen" title="设置">设置为员工</a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page">
        {$page|raw}
    </div>
</div>
{/block}