<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加管理员</title>
    {include file="common/head"/}
</head>
<body>
<div class="x-body">
    <form class="layui-form" method="post" action="{:url('add')}">
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>登录名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="username" name="name" required=""
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>将会成为您唯一的登入名
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>权限</label>
            <div class="layui-input-block">
                <input type="radio" name="authority" value="0" lay-skin="primary" title="普通管理员" checked="">
                <input type="radio" name="authority" value="1" lay-skin="primary" title="超级管理员">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_pass" class="layui-form-label">
                <span class="x-red">*</span>密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="L_pass" name="pwd" required=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>确认密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="L_repass" name="repwd" required=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button id="btn" type="button"  class="layui-btn" lay-filter="add" lay-submit="">
                增加
            </button>
        </div>
    </form>
</div>
<script>
    $('#btn').click(function () {
        $.post('add',$('form').serialize(),function (data) {
            if(data.state == 0){
                layer.msg(data.message,{icon: 2, time: 1000});
            }else{
                layer.msg(data.message,{icon: 1, time: 1000});
                setTimeout("window.location.reload()", 1500);
            }
        });
    });
</script>
</body>
</html>