<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>省钱攻略</title>
    <link href="__STATIC__/kj/css/style.css" rel="stylesheet">
    <style>
        .top div{ margin: 6px auto;text-align: center;background-color: #ff9800;width: 80px;height: 30px;line-height: 30px;border-radius: 5%;}
        .top div a{color: #fff;text-decoration: none;}
    </style>
</head>
<body>
<div class="top">
    <div>
        <a href="javascript:history.back(-1)">返回</a>
    </div>
    <img class="top_img" src="__STATIC__/cs/a.jpg">
</div>
</body>
</html>