<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta charset="UTF-8">
    <title>积分兑换界面</title>
    <link href="__STATIC__/kj/layer/theme/default/layer.css" rel="stylesheet">
    <script src="__STATIC__/x-admin/js/jquery.min.js"></script>
    <script src="__STATIC__/kj/layer/layer.js" charset="utf-8"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #f6f6f6;
        }
        .header img{
            width: 100%;
            height: 100%;
        }
        .center .top{

        }
    </style>
</head>
<body>
<div class="header">
    <img src="{$img}">
</div>
</body>
</html>