{extend name="common/base"/}
{block name="title"}控制中心{/block}
{block name='center'}
<div class="content">
    <style>
        .ftip {
            background: #fefbe4 url(/static/admin/lightbulb.gif) no-repeat 10px 10px;
            border: 1px solid #F3ECB9;
            padding: 6px 20px 6px 36px;

            font-size: 14px;
            margin: 10px;
            color: #993300;
            line-height: 24px;
        }
    </style>
    <div class="cLineB"><h4>会员充值</h4></div>
    <div class="ftip"><span class="blink">联系微信客服开通功能</span></div>
    <img src="__STATIC__/index/img/two_code.png" width="220px" height="220px" style="display: block; margin: 20px auto;">
</div>
<div class="clr"></div>
{/block}