{extend name="common/base"/}
{block name="title"}控制中心{/block}
{block name='center'}
<div class="content">
    <div class="cLineB"><h4>切换管理中心模板<span class="FAQ"></span></h4></div>
    <div class="msgWrap">
        <table class="userinfoArea" border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody>
            <tr>
                <td style="font-size:14px;" align="center">
                    <div style="width:250px;">
                        <label for="radio_new">
                            <img width="250" src="__STATIC__/admin/s_newtp.jpg">
                        </label>
                        <p style="text-align:center;margin-top:20px">
                            <input type="radio" name="usertpl" value="1" id="radio_new" checked="">
                            <label for="radio_new">高端大气版</label>
                        </p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="clr"></div>
{/block}